h2 {
  font: 500 20px / 32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin: 10px 10px 20px;
  display: block;
}
.mat-typography {
  display: block;
  padding: 0 10px;
  max-height: 65vh;
}
button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 30px 10px 10px;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}