<div [formGroup]="form">
  <div class="mui-form-row">
    <mui-form-field fieldWidth="350px"
        labelSize="large">
      <mui-label>Address</mui-label>
      <input formControlName="address"
          muiInput
          required>
      <mui-form-field-info type="error">
        Field is required.
      </mui-form-field-info>

    </mui-form-field>
  </div>
  <div class="mui-form-row">
    <mui-form-field fieldWidth="350px"
        labelSize="large">
      <mui-label>Address additional</mui-label>
      <input formControlName="address_opt"
          muiInput>
    </mui-form-field>
  </div>
  <div class="mui-form-row">
    <mui-form-field fieldWidth="350px"
        labelSize="large">
      <mui-label>City</mui-label>
      <input formControlName="city"
          muiInput
          required>
      <mui-form-field-info type="error">
        Field is required.
      </mui-form-field-info>

    </mui-form-field>
  </div>

</div>
