@use "sass:map";
@use "../core/theming/unify-colors" as c;
@use "../core/theming/material-palettes" as p;

$primary: map.get(c.$main, "primary");
$dark: map.get(p.$mui-primary, 800);
$disabled: map.get(c.$on_primary, "lightblue");

.mui-paginator-container {
  .mui-paginator-button {
    color: $primary;
  }

  .mat-mdc-select-value {
    color: $dark;
  }

  .mui-page-links {
    font-size: 14px;
    color: $primary;

    .mui-page-link.current_page {
      font-weight: 600;
      color: $dark;
    }

    &.disabled {
      color: $disabled;

      .mui-page-link.current_page {
        color: $disabled;
      }
    }
  }


}
