@use "sass:map";
@use "../core/theming/unify-colors" as c;
@use "../core/theming/material-palettes" as mp;

$lightblue: map.get(c.$on_primary, "lightblue");
$dblue: map.get(c.$on_primary, "disblue");
$primary: map.get(c.$main, "primary");

.mui-form-field {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  .mui-form-field-wrapper {
    border: 1px solid map.get(c.$main, "primary");
    background-color: map.get(c.$main, "bg-white");
  }

  &.mui-form-field-invalid, &.mui-form-field-invalid.mat-focused {
    .mui-form-field-wrapper {
      border: 1px solid map.get(c.$info, "error");
    }

    .mui-input-element {
      color: map.get(c.$info, "error");
    }
  }

  &[labelposition='top'] {
    top: -18px;
  }

  &.mui-form-field-disabled {
    .mui-form-field-label, .mui-input-element, .mat-date-range-input, .mat-mdc-select-value, .mat-mdc-select-arrow {
      color: $lightblue;
    }

    .mui-form-field-wrapper {
      border: 1px solid $lightblue;
    }

    .mui-form-field-prefix, .mui-form-field-suffix {
      color: $dblue;
    }
  }

  &.mat-focused {
    .mui-form-field-wrapper {
      border: 1px solid map.get(mp.$mui-primary, 400);
    }
  }

  .mui-form-field-label, .mui-input-element, .mat-date-range-input {
    color: map.get(mp.$mui-primary, 800);
  }

  .mat-mdc-select-placeholder {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.42);
  }

  .mui-form-field-prefix, .mui-form-field-suffix {
    color: $primary;

    .mat-mdc-icon-button {
      color: $primary;
    }
  }

  .mat-mdc-select {
    height: 20px;
    line-height: 20px;

    .mat-mdc-select-arrow-wrapper {
      height: 20px;
    }
  }

  .mui-form-field-label-hint {
    color: map.get(c.$on_surface, 'medium-emphasis');
    opacity: 0.54;
  }
}

.mui-form-row {
  margin-bottom: 24px;

  > .mui-form-field:only-child .mui-form-field-wrapper {
    width: 400px;
  }

  > .mui-form-field + .mui-form-field {
    margin-left: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@import "form-field-info";
@import "form-field-input";
@import "mdc-form-field";
